html,body,h1,h2,h3,h4,h4,p,div,a{
	margin:0;
	padding:0;
}

body{
	background:rgb(252,252,252);
}

.container{
	position:relative;
}

.plot{
	min-height:300px;
}
#plot3{
	height:500px;
}

/*#plot1*/
.histogram .bin{
	fill:rgb(50,50,50);
	fill-opacity:.8;
}
.histogram .mean,
.histogram .median{
	fill:none;
	stroke-width:2px;
}
.histogram .mean{stroke:rgb(255,50,0);}
.histogram .median{
	stroke:rgb(255,50,0);
	stroke-dasharray: 3px 3px;
}

/*#plot-2*/
.time-series .line{
	stroke:rgb(80,80,80);
	fill:none;
	stroke-width:1px;
}
.time-series .area{
	fill-opacity:.1;
}
#plot2 .axis-y .tick line{
	stroke:white;
	stroke-width:.5px;
}
#plot2 .axis-y .domain{
	display:none;
}

/*#plot3*/
.time-series-radial .area{
	fill-opacity:.2;
}
	.time-series-radial .am{ fill:rgb(255,50,0); }
	.time-series-radial .pm{ fill:#03afeb }
.time-series-radial .line{
	fill:none;
	stroke-width:1.5px;
}
	.time-series-radial .am-line{ stroke:rgb(255,50,0); }
	.time-series-radial .pm-line{ stroke:#03afeb; }

.axis-radial .tick-y{
	fill:none;
	stroke:rgb(220,220,220);
}
	.axis-radial .major{stroke-width:1.5px;}
.axis-radial .tick-x text{
	font-size:10px;
}
	.axis-radial .am text{ fill:rgb(255,50,0); }
	.axis-radial .pm text{ fill:#03afeb; }
	.axis-radial .am line{ stroke:rgb(255,50,0); }
	.axis-radial .pm line{ stroke:#03afeb; }

/*tooltip*/
.custom-tooltip{
	position:absolute;
	width:200px;
	padding:10px 10px;
	color:rgb(80,80,80);
	font-size:.8em;
	left:0;
	box-shadow:0 5px 10px rgba(0,0,0,.1);
	opacity:0;
	background:white;
}
	.custom-tooltip .heading{ font-weight:bold; }
	.custom-tooltip .value{ font-size:1.5em; }
